/* MAIN STYLINGS */

:root {
  --link-dark: #d70e62;
  --bg-dark: #021417;
  --text-dark: #ffffff;
  --button-dark: #380218;
  --tooltip-dark: #5c5c5c55;
  --banner-dark: #92074d;
}

* {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  font-family: "Open Sans", "Segoe UI", "Ubuntu", -apple-system,
    BlinkMacSystemFont, sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

a,
a * {
  color: var(--link-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.intro,
.header {
  padding-left: 20px;
}

.intro {
  max-width: 50em;
}

.header {
  padding-top: 20px;
}

.headerlisting {
  font-weight: bold;
  font-size: 125%;
}

button,
.ctinfo button {
  padding: 10px;
  font-size: 90%;
  border: none;
  background-color: var(--button-dark);
  border-radius: 5px;
  cursor: pointer;
}

/* BANNERS */

.banner {
  background-color: var(--banner-dark);
  padding: 10px;
  border-radius: 5px;
}

/* Make sure links/non-button elements don't have their own backgrounds/use the text colour */

.banner a,
b {
  background: none;
  color: inherit;
}

/* THE CONTACT INFO POPOVER */

/* Base/background stylings for the content info popover */

.ctinfobase {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  max-height: 100%;
  text-align: center;
  background: rgb(0, 0, 0, 0.8);
  overflow: auto;
}

/* Stylings for the box */

.ctinfobox {
  margin-inline: 4em;
  margin-top: 3em;
  background: var(--bg-dark);
  border-radius: 5px;
}

/* Make sure the text doesn't have its own background */

.ctinfobox * {
  background: none;
}

/* Stylings for its actual content */

.ctinfo {
  padding: 5px;
}

/* Space the text out a bit and left-align it for readability */

.ctinfo ul {
  line-height: 1.7;
  text-align: left;
}

/* TOOLTIPS */

/* The following tooltip code is a modified version of the W3Schools example */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 85%;
  width: 100px;
  bottom: 115%;
  left: 50%;
  margin-left: -50px;
  background-color: var(--tooltip-dark);
  text-align: center;
  padding: 3px 0;
  border-radius: 5px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
